@model List<Mail>

<section class="mail">
    <div class="container">
    <h1 class="mb-5">Почта</h1>
        <div class="row">
            <div class="col-6 mail-list">
                <div class="mail-list-item mb-3">
                    <ol>
                        <li><button class="message-list-item">Сообщение 1<span class="sender">Отправитель - Академия</span></button></li>
                    </ol>
                </div>
            </div>
            <div class="col-6 mail-content">
                <h2 class="mb-4">Заголовок сообщения 1</h2>
                <p class="message-content">Текст сообщения 1</p>
            </div>
        </div>
    </div>
</section>